<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Path Lab</title>
    <link href="/css/main.css" rel="stylesheet" />
    <link rel='stylesheet' href='/css/appstyle.css' />
    <script src="/js/validation.js" ></script>
    <script src="/js/appstyle.js" ></script>
    <script src="/js/notification.js" ></script>
</head>

<footer th:fragment="footer">
    <ul>
        <li>&copy; Mohd Sarfraj 2019</li>
    </ul>
</footer>