a{
color: #ff0000;
text-align:center;	
}
body {
	 background: url("/img/big-bg.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-repeat:no-repeat;
	margin: 0;
    background-color: lightsteelblue;
}
body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 0.5px solid slategrey;
}
#updatelink{
	display:block;
}
.data
{
    display: table;
    width: 70%;
}
.row{
	display: table-row;
}
.block_text
{
	text-align:center;
    display: table-cell;
    width: 50%;
    border: 1px solid blue;
}
.block_input
{
    display: table-cell;
    width: 50%;
    border: 1px solid blue;
}
.head_text{
	display: table-cell;
	text-align:center;
	border: 1px solid blue;
}
.data_text{
	display: table-cell;
color: black;
text-align:center;	
border: 1px solid blue;
}

h4 {padding-left:10px; }
h2 {text-align:center; }
p {
	padding-left:10px;
}

.submit{
	padding-left:50px;
	display:block;}
.content {
    background-color: ghostwhite;
    float: none;
    padding: 5px;
    border: 1px solid blue;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 12%;
} 
ul.topnav{
    margin-top: 12%;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #2b7676;
}
ul.topnav li {
    float: right;
    border-right: 1px solid #400040;
}
li:last-child {
    border-right: none;
}
ul.topnav li.item-right {
    float: left;
}
ul.topnav li.icon {display: none;}
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    padding: 25px;
}
ul.topnav li a:hover {
    background-color: blue;
}
ul.topnav li a.active {
    background-color: #4CAF50;
}
.footer{
	position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
}
ul.footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
     opacity: 0.5;
}
ul.footer li{
	float:left;
	font-size: 17px;
	padding: 5px 16px;
	 color: white;
}
 input{
 height: 100%;
 }

 .formWrapper{
    background: rgba(192, 192, 192, 0.3);
    padding: 50px;
    align-items: center;
    display: inline-block;
    margin: 10px;
    border: 1px solid slategray;
    border-radius: 10px;
    min-width: 40%;
 }

 .feildWrapper{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
 }

 .rowWrapper {
    flex-direction: row;
    /* flex: 1; */
    display: inline-grid;
 }

 .label{
    margin: 10px;
    font-size: 25px;
 }

 .inputField{
    margin: 10px;
    height: 25px;
 }

 .selectField{
     margin: 10px;
     height: 25px;
 }

 .button{
    background-color: #56559b;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 15px 2px;
    cursor: pointer;
    border: 1.2px solid #343441;
    border-radius: 5px;
    min-width: 60%;
 }

 .loginBtn{
    background-color: white;
    color: #56559b;
    border: 1px solid #343441;
    border-radius: 5px;
    min-width: 42%;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
 }
 
 @media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width: 680px){
	ul.topnav.responsive {position: relative;}
	ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: block;
    margin-bottom:10px;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
    ul.topnav li.item-right, 
    ul.topnav li {float: left;}
    ul.footer li{float:none;}
    div.content {float:none;}
   body{ 
    background: url("/img/small-bg.jpg") no-repeat; 
    background-size: cover;
   }
}