<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragment/header :: header"></header>
<body>
<ul th:replace="fragment/navbar :: navbar"></ul>
<div class="content">
	<div class="container">
		<div class="starter-template">
			<h2>Login to continue:</h2>
		<form action="/login" method="post" >
			<div class="data">
				<div class="row">
					<div class="block_text">Email Id</div>
					<div class="block_input">
						<input type="text" name="userId" />
					</div>
				</div>
				<div class="row">
					<div class='block_text'>Password</div>
					<div class='block_input'>
						<input type="password" name="password" />
					</div>
				</div>
				<span class="submit"><input type="submit" value="Submit"></span>
				</div>
		</form>
		</div>

	</div>
</div>
<footer th:replace="fragment/footer :: footer"></footer>
</body>

</html>