<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:replace="fragment/header :: header"></header>
<body>
<ul th:replace="fragment/navbar :: navbar"></ul>
<div class="content">
    <div class="container">
        <div class="starter-template">
            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        </div>


    </div>

</div>
</div>
<footer th:replace="fragment/footer :: footer"></footer>
</body>

</html>